.calculator-form{
    width: 30vw; /* 30% of viewport width */
    height: 70vh; /* 70% of viewport height */
    border: 1px solid rgb(216, 210, 210);
    margin: auto;
    position: relative;
    top: 100px;
    display: grid; /* for Vertical alignment */
    gap: 5px; /* gap between rows */
    padding: 20px;  /* padding inside the form */
}

.calculator-form > .form-group{
    display: flex;
    justify-content: space-between; /* space between the elements */
    gap: 5px; /* alternative to margin */
}

.calculator-form > .form-group > button{
    width: 25%; /* 4 buttons in a row */
    font-size: 25px;
    border: none; /* removing default border */
    border-radius: 5px; /* rounded corners */
}

.calculator-form > .form-group > button:hover{
    background-color: rgb(200, 200, 200); /* hover effect */
    cursor: pointer; /* pointer cursor on hover */
}

.calculator-form > .form-group > input{
    width: 100%; /* full width */
    font-size: 25px;  
    border: 1px solid rgb(227, 218, 218);  /* border for input field */
    text-align: right; /* align text to right */
    outline: none; /* removing outline on focus */
    border-radius: 5px; /* rounded corners */
    font-size: 40px;
    padding-right: 10px; /* padding on right */
}

.calculator-form > .form-group >.evaluate{
    color: aliceblue;
    background-color: rgb(33, 150, 243);
    font-size: 30px;
}

.calculator-form > .form-group >.evaluate:hover{
    background-color: rgb(25, 118, 210); /* lighter shade on hover */
}